<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Solicitud becas EIR</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-grid>
    <ion-row>
      <ion-col size-md="8" size-lg="4" offset-md="2" offset-lg="4">
        <img src="https://colenfermalaga.com/assets/img/project/becas_eir.jpg" class="image-header">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-md="8" size-lg="4" offset-md="2" offset-lg="4">
        <ion-text class="text">
          <strong>¿Qué requisitos son necesarios?</strong>
          <ul>
            <li>Se requiere estar colegiado y de alta, en el Colegio Oficial de Enfermería de Málaga, desde el inicio del curso académico, y hasta la percepción de la beca.</li>
            <li>No tener deudas pendientes.</li>
          </ul>
          <strong>¿Qué cantidad supone y cuando se abonan?</strong><br />
          La beca tiene una dotación económica de 90€ por curso académico, que se abonarán al finalizar el año.
          <br /><br />
          <strong>¿Cuándo debo realizar la solicitud?</strong><br />
          Las solicitudes deben formalizarse antes a la finalización del curso lectivo, por el que se solicita la beca.
          <br /><br />
          <strong>¿Qué documentos debo adjuntar?</strong><br />
          Deberá adjuntar un certificado de la Unidad Docente, donde se realiza la formación.
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="!isLoading">

    <ion-row>
      <ion-col size-md="8" size-lg="4" offset-md="2" offset-lg="4">
        <ion-item>
          <ion-label position="floating">Teléfono *</ion-label>
          <ion-input [value]="collegiate.phone" required="true"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-md="8" size-lg="4" offset-md="2" offset-lg="4">
        <ion-item>
          <ion-label position="floating">Email *</ion-label>
          <ion-input [value]="collegiate.email" required="true"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-md="8" size-lg="4" offset-md="2" offset-lg="4">
        <ion-item>
          <ion-label position="floating">Especialidad *</ion-label>
          <ion-select value="Geriátrica" required="true">
            <ion-select-option value="Geriátrica">Geriátrica</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-md="8" size-lg="4" offset-md="2" offset-lg="4">
        <ion-item>
          <ion-label position="floating">Nivel curso *</ion-label>
          <ion-select value="Primero" required="true">
            <ion-select-option value="Primero">Primero</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row class="ion-padding-top">
      <ion-col size-md="8" size-lg="4" offset-md="2" offset-lg="4">
        <ion-button color="medium" expand="block" (click)="upload()">
          <ion-icon name="document" slot="start"></ion-icon>
          <ion-label>Certificado académico *</ion-label>
        </ion-button>
        <div class="file-text">Certificado expedido por Unidad Docente de la Especialidad, acreditando año cursado.<br />(Archivo escaneado en formato pdf, jpg, png con peso máximo de 3072 kb)</div>
      </ion-col>
    </ion-row>


    <ion-row>
      <ion-col size-md="8" size-lg="4" offset-md="2" offset-lg="4">
        <ion-button color="primary" expand="block" (click)="submit()">Solicitar modificación</ion-button>
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>
