<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button routerLink="new" routerDirection="forward">
        <ion-icon name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Empresas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div *ngIf="!isLoading">
    <ion-list lines="full" *ngIf="business && business.length">
      <ion-item *ngFor="let item of business">
        <ion-label class="info">
          <div *ngIf="item.pending" class="pending">Existe una solicitud de cambio pendiente</div>
          <h3>{{item.title}}</h3>
          <div class="type">{{item.type}}</div>
          <div class="address">
            {{item.address}}, {{item.cp}} - {{item.localty}} ({{item.province}})<br />
            <span *ngIf="item.address2">{{item.address2}}<br /></span>
            <!-- <span *ngIf="item.movil">Móvil: {{item.movil}}</span>
            <span *ngIf="item.phone && item.movil"> / </span>
            <span *ngIf="item.phone">Telf.: {{item.phone}}</span>
            <div *ngIf="item.email">E-mail: {{item.email}}</div> -->
            <div *ngIf="item.web">{{item.web}}</div>
            <div *ngIf="item.category || item.function" class="category-function">
              <div *ngIf="item.category" class="category">
                <i class="material-icons">work_outline</i>
                <strong>{{item.category}}</strong>
              </div>
              <div *ngIf="item.function" class="function">
                <i class="material-icons">check</i>
                <em>{{item.function}}</em>
              </div>
            </div>
          </div>
          <div class="options" *ngIf="!item.pending">
            <ion-button *ngIf="!item.main" fill="clear" size="small" [routerLink]="['/business/edit', item.id]">
              <ion-icon name="create-outline"></ion-icon>
            </ion-button>
            <ion-button fill="clear" size="small" (click)="deleteBusiness(item.id)">
              <ion-icon name="trash-outline"></ion-icon>
            </ion-button>
          </div>
        </ion-label>
      </ion-item>
    </ion-list>

    <div *ngIf="!business || !business?.length" class="no-info">
      <ion-text>No hay información disponible actualmente.</ion-text>
    </div>
  </div>

</ion-content>
