ion-label.info {
  white-space: normal;
  .pending {
    margin-bottom: 8px;
    font-size: 14px;
    color: var(--ion-color-warning);
  }
  h3 {
    font-size: 14px;
    font-weight: bold;
    color: var(--ion-color-secondary);
  }
  .type {
    font-size: 12px;
    font-style: italic;
    color: var(--ion-color-primary);
  }
  .address {
    margin-top: 6px;
    font-size: 14px;
    color: var(--ion-color-medium);
    line-height: 1.5em;
  }
  .category-function {
    margin: 8px 0;
  }
  .category, .function {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    .material-icons {
      font-size: 18px;
      color: #ccc;
    }
  }
  .options {
    ion-button {
      --padding-start: 12px;
      --padding-end: 10px;
      height: 36px;
      color: var(--ion-color-secondary);
    }
  }
}
