ion-label.info {
  white-space: normal;
  line-height: 1.3em;
  .pending {
    margin-bottom: 8px;
    font-size: 14px;
    color: var(--ion-color-warning);
  }
  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h3 {
      font-size: 14px;
      font-weight: bold;
      color: var(--ion-color-secondary);
    }
    .main {
      font-size: 12px;
      font-style: italic;
      font-weight: bold;
      color: var(--ion-color-primary);
    }
  }
  .name {
    margin-top: 6px;
    font-size: 14px;
    color: var(--ion-color-dark);
  }
  .area {
    font-size: 14px;
    color: #999;
  }
  .date {
    font-size: 14px;
    color: #999;
  }
  .options {
    ion-button {
      --padding-start: 10px;
      --padding-end: 10px;
      height: 36px;
      color: var(--ion-color-secondary);
    }
  }
}
