<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/academics/new']" routerDirection="forward">
        <ion-icon name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Datos académicos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div *ngIf="!isLoading">
    <ion-list lines="full" *ngIf="academics && academics.length">
      <ion-item *ngFor="let item of academics">
        <ion-label class="info">
          <div *ngIf="item.pending" class="pending">Existe una solicitud de cambio pendiente</div>
          <div class="title">
            <h3>{{item.title}}</h3>
            <div *ngIf="item.main" class="main">Principal</div>
          </div>
          <div class="name">{{item.name}}</div>
          <div class="area">
            {{item.title}}<span *ngIf="item.area">, {{item.area}}</span>
          </div>
          <div class="date">{{item.date|date:'mediumDate'}}</div>
          <div class="options" *ngIf="!item.pending">
            <ion-button fill="clear" size="small" [routerLink]="['/academics/edit', item.id]">
              <ion-icon name="create-outline"></ion-icon>
            </ion-button>
            <ion-button *ngIf="!item.main" fill="clear" size="small" (click)="deleteAcademic(item.id)">
              <ion-icon name="trash-outline"></ion-icon>
            </ion-button>
          </div>
        </ion-label>
      </ion-item>
    </ion-list>

    <div *ngIf="!academics || !academics?.length" class="no-info">
      <ion-text>No hay información disponible actualmente.</ion-text>
    </div>
  </div>

</ion-content>
