<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="awaiting">
      <ion-label>Solicitudes pendientes</ion-label>
      <ion-icon name="hourglass-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="processed">
      <ion-label>Solicitudes procesadas</ion-label>
      <ion-icon name="checkmark-circle-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
