<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Prestación social</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-grid>
    <ion-row>
      <ion-col size-md="8" size-lg="4" offset-md="2" offset-lg="4">
        <img src="https://colenfermalaga.com/assets/img/project/prestacion_social.jpg" class="image-header">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-md="8" size-lg="4" offset-md="2" offset-lg="4">
        <ion-text class="text">
          <strong>REQUISITOS</strong>
          <ul>
            <li>Es absolutamente imprescindible estar Colegiado en alguno de los Colegios de Andalucía y censado en el Consejo Andaluz de Enfermería con un año de antelación a la fecha en que se produzca el nacimiento o matrimonio. Igualmente, será imprescindible continuar de alta en la colegiación y al corriente en el pago de las cuotas durante al menos, un año desde que se perciba el cobro de la prestación. En caso de solicitar la baja colegial antes de dicho plazo, el colegiado tendrá la obligación de reintegrar el importe de la prestación satisfecha, en caso contrario se la podrá reclamar judicialmente.</li>
            <li>Para la obtención de las prestaciones, las solicitudes se habrán de presentar dentro de los seis meses siguientes al del devengo del matrimonio o nacimiento, acompañando los correspondientes certificados de matrimonio o nacimiento, respectivamente, acreditativos de dichas situaciones.</li>
            <li>Las prestaciones se concederán siempre que se reúnan todos los requisitos exigidos y exista dotación presupuestaria en la anualidad en que se concede.</li>
            <li>Las solicitudes se remitirán a la sede del Consejo Andaluz de Colegios de Enfermería en los plazos establecidos, a través del Colegios Oficial de Enfermería de Málaga.</li>
            <li>La decisión de la concesión o denegación de la ayuda, al tratarse de un acto administrativo del Consejo Andaluz de colegios de Enfermería, será susceptible de recurso ordinario de conformidad con lo previsto en el artículo 19 de los Estatutos.</li>
          </ul><br />
          <strong>BENEFICIARIOS</strong><br /><br />
          Las solicitudes las presentaran los beneficiarios de la prestación, directamente o por persona en su representación.
          <ul>
            <li>En el supuesto de nacimiento, la prestación se concederá al padre y la madre colegiado/a.</li>
            <li>En el supuesto de matrimonio, la prestación se concederá al colegiado/a contrayente.</li>
          </ul>
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="!isLoading">

    <ion-row>
      <ion-col size-md="8" size-lg="4" offset-md="2" offset-lg="4">
        <ion-item>
          <ion-label position="floating">Teléfono *</ion-label>
          <ion-input [value]="collegiate.phone" required="true"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-md="8" size-lg="4" offset-md="2" offset-lg="4">
        <ion-item>
          <ion-label position="floating">Email *</ion-label>
          <ion-input [value]="collegiate.email" required="true"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-md="8" size-lg="4" offset-md="2" offset-lg="4">
        <ion-item>
          <ion-label position="floating">Tipo de prestación *</ion-label>
          <ion-select value="MATRIMONIO" required="true">
            <ion-select-option value="MATRIMONIO">MATRIMONIO</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row class="ion-padding-top">
      <ion-col size-md="8" size-lg="4" offset-md="2" offset-lg="4">

        <ion-text class="text"><strong>CERTIFICADO DE MATRIMONIO O NACIMIENTO / LIBRO DE FAMILIA</strong></ion-text>
        <div class="file-text-2">Puede adjuntar hasta 5 archivos con su solicitud.<br />Éstos pueden tener un tamaño de hasta 10 Mb, y ser de tipo .pdf, .jpg.</div>

        <ion-list class="documents-list">
          <ion-item *ngFor="let doc of documents">
            <ion-label>{{doc.name}}</ion-label>
            <ion-icon name="trash-outline" (click)="deleteFile(doc.id)"></ion-icon>
          </ion-item>
        </ion-list>

        <br />
        <ion-button color="medium" expand="block" (click)="upload()">
          <ion-icon name="document" slot="start"></ion-icon>
          <ion-label>Subir archivo</ion-label>
        </ion-button>
        <div class="file-text">Partida Literal de Nacimiento o matrimonio.<br />* También se aceptará fotocopia del libro de familia (en caso de nacimiento incluir la página de los padres).<br />El certificado de matrimonio o nacimiento debe estar dentro de los 6 meses siguientes al del devengo. Hojas del libro de familia. Adjuntar los documentos necesarios.</div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size-md="8" size-lg="4" offset-md="2" offset-lg="4">
        <ion-item lines="none" class="line-check">
          <ion-checkbox color="primary" slot="start"></ion-checkbox>
          <ion-label>Acepto la comunicación de mis datos, incluyendo email y cuenta bancaria al Consejo Andaluz de Enfermería para la tramitación del abono de la prestación</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-md="8" size-lg="4" offset-md="2" offset-lg="4">
        <ion-button color="primary" expand="block" (click)="submit()">Solicitar modificación</ion-button>
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>
