.image-header {
  object-fit: cover;
  object-position: center 45%;
  width: 100%;
  height: 120px;
}

.file-text {
  margin: 16px 8px 8px;
  font-size: 13px;
  color: var(--ion-color-medium);
}
.file-text-2 {
  margin: 12px 0 8px 0;
  font-size: 13px;
  color: var(--ion-color-medium);
}

.text {
  font-size: 14px;
  ul {
    padding-left: 16px;
    li:not(:first-child) { margin-top: 16px; }
  }
}

.line-check {
  align-items: flex-start !important;
  ion-checkbox {
    position:relative;
    margin-right: 16px !important;
    top: -8px;
  }

  ion-label {
    text-overflow: initial !important;
    white-space: initial !important;
    overflow: auto !important;
    font-size: 13px;
  }
}

.documents-list {
  ion-item { font-size: 13px; }
  ion-icon { font-size: 18px; }
}
