<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Configuración web</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid *ngIf="!isLoading">

    <ion-row>
      <ion-col size-md="8" size-lg="4" offset-md="2" offset-lg="4">
        <ion-item>
          <ion-label>Recibir boletín online colegial</ion-label>
          <ion-checkbox color="primary" slot="start" [checked]="data.newsletters"></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>Recibir publicidad del colegio</ion-label>
          <ion-checkbox color="primary" slot="start" [checked]="data.ads"></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>Recibir SMS del colegio</ion-label>
          <ion-checkbox color="primary" slot="start" [checked]="data.sms"></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label text-wrap>Mostrar datos profesionales en el directorio profesional</ion-label>
          <ion-checkbox color="primary" slot="start" [checked]="data.showData"></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>Recibir ofertas de empleo</ion-label>
          <ion-checkbox color="primary" slot="start" [checked]="data.employmentsOffers"></ion-checkbox>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row class="ion-padding-top">
      <ion-col size-md="8" size-lg="4" offset-md="2" offset-lg="4">
        <ion-item>
          <ion-label position="floating">Email recepción de boletines y emails publicitarios</ion-label>
          <ion-input [value]="data.emailNewsletters"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row class="ion-margin">
      <ion-col class="password" size-md="8" size-lg="4" offset-md="2" offset-lg="4">
        <ion-item class="transparent-item ion-margin-bottom">
          <ion-label position="stacked">Nueva clave</ion-label>
          <ion-input type="password"></ion-input>
        </ion-item>
        <ion-item class="transparent-item">
          <ion-label position="stacked">Repetir clave</ion-label>
          <ion-input type="password"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="ion-padding submit-col" size-md="8" size-lg="4" offset-md="2" offset-lg="4">
        <ion-button color="primary" expand="block" (click)="submit()">Solicitar modificación</ion-button>
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>
