.info {
  padding: 16px;
  font-size: 13px;
  background-color:#FCF8E3;
  color: var(--ion-color-warning);
}

ion-text.text { font-size: 13px; }

.file-text {
  margin: 16px 8px 8px;
  font-size: 13px;
  color: var(--ion-color-medium);
}
