<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Baja colegial</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-grid>

    <ion-row>
      <ion-col size-md="8" size-lg="4" offset-md="2" offset-lg="4">
        <div class="info">
          Para que su solicitud sea procesada correctamente debe adjuntar (en formato PDF) los documentos requeridos en cada caso y estar al día en el pago de las cuotas colegiales. Dicha solicitud será remitida a la administración, que llevará a cabo su tramitación a la mayor brevedad.
          <br /><br />
          <strong>LOS COLEGIADOS QUE SOLICITEN LA BAJA COLEGIAL, QUEDAN EXCLUIDOS DE LA COBERTURA DEL SEGURO DE RESPONSABILIDAD CIVIL, DE LAS PRESTACIONES SOCIALES, ASÍ COMO DE CUALQUIER SERVICIO O CONVENIO DEL COLEGIO.</strong>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size-md="8" size-lg="4" offset-md="2" offset-lg="4">
        <ion-text class="text">Por la presente solicito mi baja como colegiado/a de esta Entidad con motivo de no ejercer profesionalmente, teniendo conocimiento de la obligatoriedad de la colegiación para el ejercicio profesional, por lo que expreso mi compromiso de solicitar el reingreso, previo al desempeño de alguna actividad que implique el ejercicio de la misma.</ion-text>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size-md="8" size-lg="4" offset-md="2" offset-lg="4">
        <ion-item>
          <ion-label position="floating">Motivo de la baja *</ion-label>
          <ion-select value="No ejerce" required="true">
            <ion-select-option value="No ejerce">No ejerce</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size-md="8" size-lg="4" offset-md="2" offset-lg="4">
        <ion-button color="medium" expand="block" (click)="upload()">
          <ion-icon name="document" slot="start"></ion-icon>
          <ion-label>Certificado vida laboral *</ion-label>
        </ion-button>
        <div class="file-text">Puede tener un tamaño de hasta 10 Mb, y ser de tipo .pdf, .doc, .docx, .png o .jpg</div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size-md="8" size-lg="4" offset-md="2" offset-lg="4">
        <ion-button color="primary" expand="block" (click)="submit()">Solicitar modificación</ion-button>
      </ion-col>
    </ion-row>

   </ion-grid>

</ion-content>
