.wrapper {
  margin: 24px auto 0 auto;
  border: dashed 1px var(--ion-color-medium);
  border-radius: 5px;
  height: 0;
  overflow: hidden;
  padding-top: calc(100% - 2px);
  box-sizing: border-box;
  position: relative;
  background-color: var(--ion-color-light);
}
.wrapper .image, .wrapper .no-image {
  width: 100%;
  vertical-align: top;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  object-fit: contain;
  object-position: center;
}
