<div class="picker">
  <ion-button color="medium" expand="block" (click)="onPickImage()">
    <ion-icon name="camera" slot="start"></ion-icon>
    <ion-label>Seleccionar imagen</ion-label>
  </ion-button>
  <div class="wrapper">
    <ion-img *ngIf="image && !selectedImage" class="image" [src]="image"></ion-img>
    <ion-img *ngIf="selectedImage" role="button" class="image" [src]="selectedImage"></ion-img>
    <div *ngIf="!selectedImage" class="no-image"></div>
  </div>
</div>
