ion-card-title {
  color: var(--ion-color-primary);
  font-size: 15px;
  text-transform: uppercase;
}

dl { margin: 0; }
dt {
  font-weight: bold;
  color: black;
}
dd { margin-left: 0; }

.map {
  margin-top: 16px;
  width: 100%;
  height: 250px;
}
