<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Detalle inscripción</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- Datos inscripcion -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Datos generales de la inscripción</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <dl>
        <dt>Fecha de inscripción:</dt>
        <dd>{{inscription?.general.date}}</dd>

        <dt>Estado:</dt>
        <dd>{{inscription?.general.status}}</dd>

        <dt>Número colegiado:</dt>
        <dd>{{inscription?.general.collegiate}}</dd>

        <dt>Nombre:</dt>
        <dd>{{inscription?.general.name}}</dd>

        <dt>DNI/NIF/NIE:</dt>
        <dd>{{inscription?.general.documentNumber}}</dd>

        <dt>Dirección:</dt>
        <dd>{{inscription?.general.address}}</dd>

        <dt>E-mail:</dt>
        <dd>{{inscription?.general.email}}</dd>

        <dt>Teléfono:</dt>
        <dd>{{inscription?.general.phone}}</dd>
      </dl>
    </ion-card-content>
  </ion-card>

  <!-- Datos pagos -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Datos de los pagos</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <dl>
        <dt>Fecha límite:</dt>
        <dd>{{inscription?.payments.dateLimit}}

        <dt>Fecha pagado:</dt>
        <dd>{{inscription?.payments.datePaid}}

        <dt>Estado:</dt>
        <dd>{{inscription?.payments.status}}
      </dl>
    </ion-card-content>
  </ion-card>

  <!-- Informacion curso -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Información sobre el curso</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <dl>
        <dt>Curso:</dt>
        <dd>{{inscription?.course.title}}</dd>

        <dt>Referencia:</dt>
        <dd>{{inscription?.course.reference}}</dd>

        <dt>Categoría:</dt>
        <dd>{{inscription?.course.category}}</dd>

        <dt>Modalidad:</dt>
        <dd>{{inscription?.course.modality}}</dd>

        <dt>Inicio curso:</dt>
        <dd>{{inscription?.course.dateStart}}</dd>

        <dt>Dirección:</dt>
        <dd>{{inscription?.course.address}}</dd>
      </dl>
       <div class="map" #map></div>
    </ion-card-content>
  </ion-card>

</ion-content>
