<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Editar/Crear idioma</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-grid *ngIf="!isLoading">
    <ion-row>
      <ion-col size-md="8" size-lg="4" offset-md="2" offset-lg="4">
        <ion-item>
          <ion-label position="floating">Idioma *</ion-label>
          <ion-select placeholder="Selecciona una opción" [value]="language?.title" required="true">
            <ion-select-option value="INGLÉS">INGLÉS</ion-select-option>
            <ion-select-option value="CHINO">CHINO</ion-select-option>
            <ion-select-option value="ALEMÁN">ALEMÁN</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-md="8" size-lg="4" offset-md="2" offset-lg="4">
        <ion-item>
          <ion-label position="floating">Nivel *</ion-label>
          <ion-select placeholder="Selecciona una opción" [value]="language?.level" required="true">
            <ion-select-option value="A1">A1</ion-select-option>
            <ion-select-option value="A2">A2</ion-select-option>
            <ion-select-option value="B1">B1</ion-select-option>
            <ion-select-option value="B2">B2</ion-select-option>
            <ion-select-option value="C1">C1</ion-select-option>
            <ion-select-option value="C2">C2</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-md="8" size-lg="4" offset-md="2" offset-lg="4">
        <ion-item>
          <ion-label position="stacked">Fecha *</ion-label>
          <ion-input [value]="language?.date" type="date" required="true"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-padding" size-md="8" size-lg="4" offset-md="2" offset-lg="4">
        <ion-button color="primary" expand="block" (click)="submit()">Solicitar modificación</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
