<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Editar/Crear empresa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-grid *ngIf="!isLoading">
    <ion-row>
      <ion-col size-md="8" size-lg="4" offset-md="2" offset-lg="4">
        <ion-item>
          <ion-label position="floating">Nombre *</ion-label>
          <ion-input [value]="business?.title" required="true"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-md="8" size-lg="4" offset-md="2" offset-lg="4">
        <ion-item>
          <ion-label position="floating">Tipo de empresa *</ion-label>
          <ion-select placeholder="Selecciona una opción" [value]="business?.type" required="true">
            <ion-select-option value="Pública">Pública</ion-select-option>
            <ion-select-option value="Privada">Privada</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-md="8" size-lg="4" offset-md="2" offset-lg="4">
        <ion-item>
          <ion-label position="floating">Dirección *</ion-label>
          <ion-input [value]="business?.address" required="true"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-md="8" size-lg="4" offset-md="2" offset-lg="4">
        <ion-item>
          <ion-label position="floating">Dirección (Info. adicional)</ion-label>
          <ion-input [value]="business?.address2"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-md="8" size-lg="4" offset-md="2" offset-lg="4">
        <ion-item>
          <ion-label position="floating">Código postal *</ion-label>
          <ion-input [value]="business?.cp" required="true"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-md="8" size-lg="4" offset-md="2" offset-lg="4">
        <ion-item>
          <ion-label position="floating">Localidad *</ion-label>
          <ion-input [value]="business?.localty" required="true"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-md="8" size-lg="4" offset-md="2" offset-lg="4">
        <ion-item>
          <ion-label position="floating">Provincia *</ion-label>
          <ion-input [value]="business?.province" required="true"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-md="8" size-lg="4" offset-md="2" offset-lg="4">
        <ion-item>
          <ion-label position="floating">Teléfono</ion-label>
          <ion-input [value]="business?.phone"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-md="8" size-lg="4" offset-md="2" offset-lg="4">
        <ion-item>
          <ion-label position="floating">Móvil</ion-label>
          <ion-input [value]="business?.movil"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-md="8" size-lg="4" offset-md="2" offset-lg="4">
        <ion-item>
          <ion-label position="floating">E-mail</ion-label>
          <ion-input [value]="business?.email"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-md="8" size-lg="4" offset-md="2" offset-lg="4">
        <ion-item>
          <ion-label position="floating">Web</ion-label>
          <ion-input [value]="business?.web"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-md="8" size-lg="4" offset-md="2" offset-lg="4">
        <ion-item>
          <ion-label position="floating">Categoría</ion-label>
          <ion-input [value]="business?.category"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-md="8" size-lg="4" offset-md="2" offset-lg="4">
        <ion-item>
          <ion-label position="floating">Función</ion-label>
          <ion-input [value]="business?.function"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-padding" size-md="8" size-lg="4" offset-md="2" offset-lg="4">
        <ion-button color="primary" expand="block" (click)="submit()">Solicitar modificación</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
