<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Circulares</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div *ngIf="!isLoading">
    <ion-list lines="full">
      <ion-item *ngFor="let item of circulars" [routerLink]="['/', 'circulars', item.id]">
        <ion-thumbnail slot="start">
          <img *ngIf="item.image" [src]="item.image" />
          <img *ngIf="!item.image" src="./../../assets/default.jpg" />
        </ion-thumbnail>
        <ion-label>
          <div class="date">{{item.date|date:'mediumDate'}}</div>
          <h3>{{item.title}}</h3>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>

</ion-content>
