ion-thumbnail {
  width: 64px;
  height: 64px;
}

ion-label {
  .date {
    font-size: 12px;
    color: var(--ion-color-primary);
    font-style: italic;
  }
  h3 {
    margin-top: 8px;
    white-space: normal;
    font-weight: bold;
  }
}
