<ion-header>
  <ion-toolbar color="primary">
    <ion-title>colenfermalaga</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center" size-md="8" size-lg="4" offset-md="2" offset-lg="4">
        <ion-img class="logo" src="./../../assets/logo.svg"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-md="8" size-lg="6" offset-md="2" offset-lg="3">
        <div class="header">
          <h1>Iniciar sesión</h1>
          <ion-text>Introduce tu número de colegiado y contraseña para acceder.</ion-text>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-md="8" size-lg="6" offset-md="2" offset-lg="3">
        <ion-list>
          <ion-item class="ion-no-padding">
            <ion-label position="floating">Núm. colegiado</ion-label>
            <ion-input></ion-input>
          </ion-item>
          <ion-item class="ion-no-padding">
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input></ion-input>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row class="ion-margin-top">
      <ion-col size-md="8" size-lg="6" offset-md="2" offset-lg="3">
        <ion-button color="primary" expand="block" (click)="onLogin()">ENTRAR</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-md="8" size-lg="6" offset-md="2" offset-lg="3">
        <div class="version">app versión: 1.0</div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
