ion-content {
  --ion-padding: 32px;
  @media(max-width: 400px) {
    --ion-padding: 16px;
  }
}

ion-img.logo {
  width: 85%;
  max-width: 300px;
  margin: 0 auto;
}

.header {
  margin-top: 48px;
  @media(max-width: 400px) { margin-top: 16px; }
  ion-text {
    font-size: 14px;
    color: var(--ion-color-medium);
  }
}

.version {
  margin-top: 24px;
  font-size: 13px;
  text-align: center;
  color: var(--ion-color-medium);
  @media(max-width: 400px) { margin-top: 16px; }
}


// Centrar verticalmente el contenido
// .vertical-align-content {
//   height:100vh;
//   display: flex!important;
//   align-content: center!important;
//   align-items: center!important;
// }
// .vertical-align-content > .container {
//   height:100%;
//   display: flex!important;
//   align-content: center!important;
//   align-items: center!important;
// }
