<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/addresses/new']" routerDirection="forward">
        <ion-icon name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Direcciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div *ngIf="!isLoading">
    <ion-list lines="full" *ngIf="addresses && addresses.length">
      <ion-item *ngFor="let item of addresses">
        <ion-label class="info">
          <div *ngIf="item.pending" class="pending">Existe una solicitud de cambio pendiente</div>
          <div class="title">
            <h3>{{item.title}}</h3>
            <div *ngIf="item.main" class="main">Principal</div>
          </div>
          <div class="address">
            {{item.address}}, {{item.cp}} - {{item.localty}} ({{item.province}})<br />
            <span *ngIf="item.address2">{{item.address2}}<br /></span>
            <span *ngIf="item.movil">Móvil: {{item.movil}}</span>
            <span *ngIf="item.phone && item.movil"> / </span>
            <span *ngIf="item.phone">Telf.: {{item.phone}}</span>
          </div>
          <div class="options" *ngIf="!item.pending">
            <ion-button fill="clear" size="small" [routerLink]="['/addresses/edit', item.id]">
              <ion-icon name="create-outline"></ion-icon>
            </ion-button>
            <ion-button *ngIf="!item.main" fill="clear" size="small" (click)="deleteAddress(item.id)">
              <ion-icon name="trash-outline"></ion-icon>
            </ion-button>
          </div>
        </ion-label>
      </ion-item>
    </ion-list>

    <div *ngIf="!addresses || !addresses?.length" class="no-info">
      <ion-text>No hay información disponible actualmente.</ion-text>
    </div>
  </div>

</ion-content>
