<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Ayuda ponencias/comunicaciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-grid>
    <ion-row>
      <ion-col size-md="8" size-lg="4" offset-md="2" offset-lg="4">
        <img src="https://colenfermalaga.com/assets/img/project/ayuda_ponente.jpg" class="image-header">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-md="8" size-lg="4" offset-md="2" offset-lg="4">
        <ion-text class="text">
          Por acuerdo de Junta de Gobierno de 18 de enero de 2018, para facilitar la presentación de trabajos a Congresos y Jornadas profesionales, se estima la dotación de 80 euros a aquellos colegiados/as de esta corporación que cumplan los siguientes requisitos:
          <ol>
            <li>Estar inscrito en el Colegio de Enfermería de Málaga, con un mínimo de 6 meses previos e ininterrumpidos a la fecha de la solicitud; así como estar al corriente de las cuotas colegiales.</li>
            <li>Ser el autor/a principal de la ponencia o comunicación presentada, mediante aportación certificada del comité Científico correspondiente.</li>
            <li>La dotación será remunerada trimestralmente y será efectiva en la última semana del trimestre, siendo estas las ultimas semanas de marzo, junio, septiembre y diciembre.</li>
            <li>El receptor de dicha aportación queda obligado a entregar al colegio, en un plazo máximo de 30 días posteriores a la celebración de dicha Jornada o Congreso, copia de la comunicación o ponencia para ser difundida en los medios propios del Colegio.</li>
            <li>Las ayudas se otorgarán cumpliendo con los requisitos anteriores y hasta agotar la partida presupuestaria.</li>
            <li>Solo se concederá una ayuda por colegiado y año.</li>
            <li>No se admitirán congresos virtuales.</li>
            <li>Los congresos y jornadas deberán ser organizados por agencias sanitarias, instituciones sanitarias públicas, sociedades científicas de Enfermería pertenecientes a la UESCE (Unión Española de Sociedades Científicas de Enfermeria) y Sociedades Científicas de Enfermería de Andalucía con acreditación.</li>
          </ol>
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="!isLoading">

    <ion-row>
      <ion-col size-md="8" size-lg="4" offset-md="2" offset-lg="4">
        <ion-item>
          <ion-label position="floating">Teléfono *</ion-label>
          <ion-input [value]="collegiate.phone" required="true"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-md="8" size-lg="4" offset-md="2" offset-lg="4">
        <ion-item>
          <ion-label position="floating">Email *</ion-label>
          <ion-input [value]="collegiate.email" required="true"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row class="ion-padding-top">
      <ion-col size-md="8" size-lg="4" offset-md="2" offset-lg="4">
        <ion-button color="medium" expand="block" (click)="upload()">
          <ion-icon name="document" slot="start"></ion-icon>
          <ion-label>Ponencia o comunicación *</ion-label>
        </ion-button>
        <div class="file-text">Certificado final expedido y firmado por la organización del congreso (archivo escaneado en formato pdf, jpg, png con peso máximo de 3Mb)</div>
      </ion-col>
    </ion-row>


    <ion-row>
      <ion-col size-md="8" size-lg="4" offset-md="2" offset-lg="4">
        <ion-button color="primary" expand="block" (click)="submit()">Solicitar modificación</ion-button>
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>
