<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Histórico de inscripciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="!isLoading">
    <ion-list lines="full" *ngIf="inscriptions && inscriptions.length">
      <ion-item *ngFor="let item of inscriptions" [routerLink]="['/inscriptions/detail', item.id]">
        <ion-thumbnail slot="start">
          <img [src]="item.image" />
        </ion-thumbnail>
        <ion-label>
          <div class="header">
            <div class="ref">{{item.reference}}</div>
            <div class="date">{{item.date|date:'mediumDate'}}</div>
          </div>
          <h3>{{item.title|truncate:120}}</h3>
        </ion-label>
      </ion-item>
    </ion-list>

    <div *ngIf="!inscriptions || !inscriptions?.length" class="no-info">
      <ion-text>No hay información disponible actualmente.</ion-text>
    </div>
  </div>
</ion-content>
