<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Editar/Crear dirección</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-grid *ngIf="!isLoading">
    <ion-row>
      <ion-col size-md="8" size-lg="4" offset-md="2" offset-lg="4">
        <ion-item>
          <ion-label position="floating">Título de la dirección *</ion-label>
          <ion-input [value]="address?.title" required="true"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-md="8" size-lg="4" offset-md="2" offset-lg="4">
        <ion-item>
          <ion-label position="floating">Dirección *</ion-label>
          <ion-input [value]="address?.address" required="true"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-md="8" size-lg="4" offset-md="2" offset-lg="4">
        <ion-item>
          <ion-label position="floating">Dirección (Info. adicional)</ion-label>
          <ion-input [value]="address?.address2"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-md="8" size-lg="4" offset-md="2" offset-lg="4">
        <ion-item>
          <ion-label position="floating">Código postal *</ion-label>
          <ion-input [value]="address?.cp" required="true"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-md="8" size-lg="4" offset-md="2" offset-lg="4">
        <ion-item>
          <ion-label position="floating">Localidad *</ion-label>
          <ion-input [value]="address?.localty" required="true"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-md="8" size-lg="4" offset-md="2" offset-lg="4">
        <ion-item>
          <ion-label position="floating">Provincia *</ion-label>
          <ion-input [value]="address?.province" required="true"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-md="8" size-lg="4" offset-md="2" offset-lg="4">
        <ion-item>
          <ion-label position="floating">Teléfono</ion-label>
          <ion-input [value]="address?.phone"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-md="8" size-lg="4" offset-md="2" offset-lg="4">
        <ion-item>
          <ion-label position="floating">Móvil</ion-label>
          <ion-input [value]="address?.movil"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-md="8" size-lg="4" offset-md="2" offset-lg="4">
        <ion-item lines="none">
          <ion-checkbox color="primary" slot="start" [checked]="address?.main"></ion-checkbox>
          <ion-label>Es la dirección principal</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-padding" size-md="8" size-lg="4" offset-md="2" offset-lg="4">
        <ion-button color="primary" expand="block" (click)="submit()">Solicitar modificación</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
