<ion-app>
  <ion-menu side="start" contentId="main">
    <ion-header>
      <ion-toolbar color="secondary">
        <ion-title>Menú</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>

        <!-- Menu -->
        <ion-item-group *ngFor="let group of menu">
          <ion-item-divider>
            <ion-label color="primary">{{group.title}}</ion-label>
          </ion-item-divider>
          <ion-menu-toggle *ngFor="let item of group.items">
            <ion-item lines="none" [routerLink]="item.url" routerDirection="forward">
              <ion-icon [name]="item.icon" slot="start"></ion-icon>
              <ion-label>{{item.title}}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-item-group>

      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
