ion-label.info {
  white-space: normal;
  line-height: 1.3em;
  .pending {
    margin-bottom: 8px;
    font-size: 14px;
    color: var(--ion-color-warning);
  }
  h3 {
    font-size: 14px;
    font-weight: bold;
    color: var(--ion-color-secondary);
  }
  .level {
    margin-top: 6px;
    font-size: 14px;
    color: var(--ion-color-dark);
  }
  .date {
    font-size: 14px;
    color: #999;
  }
  .options {
    ion-button {
      --padding-start: 10px;
      --padding-end: 10px;
      height: 36px;
      color: var(--ion-color-secondary);
    }
  }
}
