.image-header {
  object-fit: cover;
  object-position: center 30%;
  width: 100%;
  height: 120px;
}

.file-text {
  margin: 16px 8px 8px;
  font-size: 13px;
  color: var(--ion-color-medium);
}

.text {
  font-size: 14px;
  text-align: justify;
  ol {
    padding-left: 16px;
    li:not(:first-child) { margin-top: 16px; }
  }
}
