<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Ayuda prep. exámenes EIR/OPE</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-grid>
    <ion-row>
      <ion-col size-md="8" size-lg="4" offset-md="2" offset-lg="4">
        <img src="https://colenfermalaga.com/assets/img/project/ayuda_formacion.jpg" class="image-header">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-md="8" size-lg="4" offset-md="2" offset-lg="4">
        <ion-text class="text">
          <strong>¿Qué requisitos son necesarios?</strong>
          <ol>
            <li>Estar colegiado y al corriente de pago de las cuotas colegiales en el Colegio Oficial de Enfermería de Málaga y permanecer colegiado durante el tiempo de duración del curso para el que se ha solicitado la ayuda.</li>
            <li>Presentar en el Colegio Oficial de Enfermería de Málaga el documento acreditativo de matriculación, pago completo y finalización del curso de preparación para el examen EIR / examen OPE. El centro puede ser alguno de los que se presenten en la web del Colegio (apartado de formación externa / convenios), o cualquier otro centro especializado en la preparación de los exámenes EIR / OPE.</li>
            <li>En el momento inicial de la inscripción para la solicitud de la ayuda, será suficiente con la entrega del documento que acredite la matriculación e inicio del pago del curso.</li>
            <li>Los primeros 40 solicitantes que cumplan los puntos 1 y 3 serán admitidos inicialmente como beneficiarios de la ayuda, que no será efectiva hasta que el alumno finalice el curso en el que se ha matriculado, y así lo acredite.</li>
            <li>La solicitud número 41 y sucesivas, quedarán en estado de reserva. En el caso de que alguna de las primeras 40 solicitudes no cumplan finalmente los requisitos para percibir la ayuda, automáticamente se pasará a los puestos de reserva por riguroso orden de inscripción.</li>
            <li>Cada colegiado tendrá opción a una sola ayuda, independientemente de que se haya matriculado en dos cursos diferentes. Con ello, permitiremos que un mayor número de colegiados se vean beneficiados.</li>
            <li>Pueden presentar solicitud todos aquellos colegiados que se hayan matriculado con fecha posterior al 11 de febrero de 2018, en un curso de preparación del examen EIR; y en el caso de curso de preparación para la OPE de Andalucía, los matriculados a partir del 10 de junio de 2018.<br /><br />
            El Colegio se reserva el derecho a rechazar cualquier solicitud que genere alguna duda en cuanto a la veracidad de la documentación presentada.</li>
          </ol>
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="!isLoading">

    <ion-row>
      <ion-col size-md="8" size-lg="4" offset-md="2" offset-lg="4">
        <ion-item>
          <ion-label position="floating">Teléfono *</ion-label>
          <ion-input [value]="collegiate.phone" required="true"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-md="8" size-lg="4" offset-md="2" offset-lg="4">
        <ion-item>
          <ion-label position="floating">Email *</ion-label>
          <ion-input [value]="collegiate.email" required="true"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row class="ion-padding-top">
      <ion-col size-md="8" size-lg="4" offset-md="2" offset-lg="4">
        <ion-button color="medium" expand="block" (click)="upload()">
          <ion-icon name="document" slot="start"></ion-icon>
          <ion-label>Acreditación inicio curso *</ion-label>
        </ion-button>
        <div class="file-text">Documento que acredite la matriculación e inicio del pago del curso (archivo escaneado en formato pdf, jpg, png con peso máximo de 3Mb)</div>
      </ion-col>
    </ion-row>


    <ion-row>
      <ion-col size-md="8" size-lg="4" offset-md="2" offset-lg="4">
        <ion-button color="primary" expand="block" (click)="submit()">Solicitar modificación</ion-button>
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>
