<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Facturas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full" *ngIf="bills && bills.length">
      <ion-item *ngFor="let item of bills">
        <div class="header">
          <h3>{{item.title}}</h3>
          <div class="date">{{item.date|date:'mediumDate'}}</div>
        </div>
        <div class="amount">{{item.amount|currency:'EUR':true}}</div>
      </ion-item>
  </ion-list>

  <div *ngIf="!bills || !bills?.length" class="no-info">
    <ion-text>No hay información disponible actualmente.</ion-text>
  </div>
</ion-content>
