ion-item {
  width: 100%;
  padding-top: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.header {
  width: 100%;
  h3 {
    margin: 0;
    font-size: 14px;
  }
  .date {
    font-size: 13px;
    font-style: italic;
    color: #999;
  }
}

.amount {
  font-size: 14px;
  color: var(--ion-color-primary);
}
