<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Foto carnet</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-grid>
    <ion-row>
      <ion-col size-md="8" size-lg="4" offset-md="2" offset-lg="4">
        <ion-text class="text">Actualice su fotografía para el nuevo carnet de colegiado.</ion-text>
      </ion-col>
    </ion-row>

    <ion-row class="ion-padding-top">
      <ion-col size-md="8" size-lg="4" offset-md="2" offset-lg="4">
        <app-image-picker (imagePick)="onImagePicked($event)" [image]="collegiate?.image"></app-image-picker>
      </ion-col>
    </ion-row>

    <ion-row class="ion-padding-top">
      <ion-col size-md="8" size-lg="4" offset-md="2" offset-lg="4">
        <ion-button color="primary" expand="block" (click)="submit()" [disabled]="!image">Solicitar modificación</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
