.info {
  padding: 16px;
  font-size: 14px;
  background-color:#FCF8E3;
  color: var(--ion-color-warning);
}

ion-thumbnail {
  width: 64px;
  height: 64px;
}

ion-label {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .ref {
      font-style: italic;
      font-size: 12px;
      color: var(--ion-color-medium);
    }
    .date {
      font-size: 12px;
      color: var(--ion-color-primary);
      font-style: italic;
    }
  }
  h3 {
    margin-top: 8px;
    white-space: normal;
    font-weight: bold;
  }
}
