<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Inscripciones actuales</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="info">
    Si desea cancelar su inscripción, póngase en contacto con el colegio
  </div>

  <div *ngIf="!isLoading">
    <ion-list lines="full">
      <ion-item *ngFor="let item of inscriptions" [routerLink]="['/', 'inscriptions', 'tabs', 'current', item.id]">
        <ion-thumbnail slot="start">
          <img [src]="item.image" />
        </ion-thumbnail>
        <ion-label>
          <div class="header">
            <div class="ref">{{item.reference}}</div>
            <div class="date">{{item.date|date:'mediumDate'}}</div>
          </div>
          <h3>{{item.title|truncate:120}}</h3>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
