ion-card:not(:first-child) {
  margin-top: 16px;
}

ion-card-title {
  font-size: 15px;
  text-align: center;
}

img.certificate-image {
  height: 150px;
  width: 100%;
  object-fit: cover;
}

ion-button {
  &:first-child { margin-top: 0 !important; }
  white-space: break-spaces;
}
