<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Certificados</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col size-md="8" size-lg="4" offset-md="2" offset-lg="4">

        <ion-card>
          <img src="./../../assets/certificates/certificado_colegiacion.png" class="certificate-image">
          <ion-card-header>
            <ion-card-title>CERTIFICADO DE ESTAR COLEGIADO</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-button color="primary" expand="block">Solicitar</ion-button>
          </ion-card-content>
        </ion-card>

        <ion-card>
          <img src="./../../assets/certificates/certificado_pagos_al_corriente.png" class="certificate-image">
          <ion-card-header>
            <ion-card-title>CERTIFICADO DE ESTAR AL CORRIENTE DE PAGO</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-button color="primary" expand="block">Solicitar</ion-button>
          </ion-card-content>
        </ion-card>

        <ion-card>
          <img src="./../../assets/certificates/certificado_cuotas_colegiales.png" class="certificate-image">
          <ion-card-header>
            <ion-card-title>CERTIFICADO DE CUOTAS COLEGIALES</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-item>
              <ion-label position="floating">Selecciona un año *</ion-label>
              <ion-select required="true">
                <ion-select-option value="2019">2019</ion-select-option>
                <ion-select-option value="2020">2020</ion-select-option>
                <ion-select-option value="2021">2021</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-button color="primary" expand="block" style="margin-top: 16px">Solicitar</ion-button>
          </ion-card-content>
        </ion-card>

        <ion-card>
          <img src="./../../assets/certificates/descargar_poliza.png" class="certificate-image">
          <ion-card-header>
            <ion-card-title>DESCARGAR LA PÓLIZA DEL SEGURO DE RESPONSABILIDAD CIVIL</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-button color="primary" expand="block" style="margin-top: 16px">Condiciones Generales</ion-button>
            <ion-button color="primary" expand="block" style="margin-top: 16px">Condiciones Especiales (Act. 2022)</ion-button>
          </ion-card-content>
        </ion-card>

        <ion-card>
          <img src="./../../assets/certificates/cert_rc.png" class="certificate-image">
          <ion-card-header>
            <ion-card-title>CERTIFICADO DE RESPONSABILIDAD CIVIL</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-button color="primary" expand="block" style="margin-top: 16px">Solicitar</ion-button>
          </ion-card-content>
        </ion-card>

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
