ion-label {
  h3 {
    white-space: normal;
    font-weight: bold;
  }
  .province {
    font-size: 13px;
    margin-bottom: 6px;
  }
  .date {
    font-size: 13px;
    span {
      color: var(--ion-color-medium);
      font-style: italic;
    }
  }
}
