<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Editar/Crear currículum</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-grid *ngIf="!isLoading">
    <ion-row>
      <ion-col size-md="8" size-lg="4" offset-md="2" offset-lg="4">
        <ion-item>
          <ion-label position="floating">Título *</ion-label>
          <ion-input [value]="cv?.title" required="true"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-md="8" size-lg="4" offset-md="2" offset-lg="4">
        <ion-item>
          <ion-label position="floating">Observaciones</ion-label>
          <ion-textarea [value]="cv?.observations" rows="6"></ion-textarea>
        </ion-item>
      </ion-col>
    </ion-row>

    <!-- <ion-row class="ion-padding-top">
      <ion-col size-md="8" size-lg="4" offset-md="2" offset-lg="4">
        <div class="file-upload">
          <div class="file-text">Archivo escaneado de su CV en formato pdf, doc, docx con peso máximo de 3Mb</div>
          <input type="file" name="cv" required="true">
        </div>
      </ion-col>
    </ion-row> -->

    <ion-row>
      <ion-col class="ion-padding" size-md="8" size-lg="4" offset-md="2" offset-lg="4">
        <div class="file-text">Archivo escaneado de su CV en formato pdf, doc, docx con peso máximo de 3Mb</div>
        <ion-button color="medium" expand="block" (click)="upload()">
          <ion-icon name="document" slot="start"></ion-icon>
          <ion-label>Seleccionar archivo *</ion-label>
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="ion-padding" size-md="8" size-lg="4" offset-md="2" offset-lg="4">
        <ion-button color="primary" expand="block" (click)="submit()">Solicitar modificación</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
