/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


:root {
  @media(max-width: 400px) {
    --ion-padding: 8px;
  }
}

ion-button {
  height: 48px;
}

.no-info {
  width: 100vw;
  height: calc(100vh - 120px);
  display: flex;
  align-content: stretch;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  overflow-y: hidden;
  ion-text {
    color: var(--ion-color-medium);
  }
}

//-----------------------------------
// Botones de los alertControllers
//-----------------------------------

button.alert-button.sc-ion-alert-ios.primary {
  width: 100px;
  background: var(--ion-color-primary);
  color: white;
  span { justify-content: center; }
}
button.alert-button.sc-ion-alert-md.primary {
  color: var(--ion-color-primary);
}

button.alert-button.sc-ion-alert-ios.secondary {
  width: 100px;
  background: var(--ion-color-medium);
  color: white;
  span { justify-content: center; }
}
button.alert-button.sc-ion-alert-md.secondary {
  color: var(--ion-color-medium);
}
