<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Datos profesionales</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-grid *ngIf="!isLoading">
    <ion-row>
      <ion-col size-md="8" size-lg="4" offset-md="2" offset-lg="4">
        <ion-item>
          <ion-label position="floating">Situación profesional *</ion-label>
          <ion-select placeholder="Selecciona una opción" [value]="collegiate?.situation">
            <ion-select-option value="0">Desempleado</ion-select-option>
            <ion-select-option value="1">Fijo</ion-select-option>
            <ion-select-option value="2">Temporal</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-md="8" size-lg="4" offset-md="2" offset-lg="4">
        <ion-item>
          <ion-label position="floating">Ejercicio profesional *</ion-label>
          <ion-select placeholder="Selecciona una opción" [value]="collegiate?.exercise">
            <ion-select-option value="0">Público</ion-select-option>
            <ion-select-option value="1">Privado</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-md="8" size-lg="4" offset-md="2" offset-lg="4">
        <ion-item>
          <ion-label position="floating">Grado de carrera *</ion-label>
          <ion-select placeholder="Selecciona una opción" [value]="collegiate?.grade">
            <ion-select-option value="0">Opcion 1</ion-select-option>
            <ion-select-option value="1">Opcion 2</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-md="8" size-lg="4" offset-md="2" offset-lg="4">
        <ion-item>
          <ion-label position="floating">Nivel de competencia *</ion-label>
          <ion-select placeholder="Selecciona una opción" [value]="collegiate?.level">
            <ion-select-option value="0">Opcion 1</ion-select-option>
            <ion-select-option value="1">Opcion 2</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-padding" size-md="8" size-lg="4" offset-md="2" offset-lg="4">
        <ion-button color="primary" expand="block" (click)="submit()">Solicitar modificación</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
