<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="current">
      <ion-label>Actual</ion-label>
      <ion-icon name="time-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="historic">
      <ion-label>Histórico</ion-label>
      <ion-icon name="list-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
