<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Habilitaciones temporales</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="!isLoading">
    <ion-list lines="full" *ngIf="items && items.length">
      <ion-item *ngFor="let item of items">
        <ion-label>
          <div class="header">
            <div>
              <h3>{{item.center}}</h3>
              <div class="province">{{item.province}}</div>
            </div>
            <ion-chip [color]="item.status===0 ? 'danger' : 'success'">
              <ion-label *ngIf="item.status===0">DENEGADA</ion-label>
              <ion-label *ngIf="item.status===1">ACEPTADA</ion-label>
            </ion-chip>
          </div>
          <div *ngIf="item.status===0 && item.refusal" class="refusal">
            Motivo denegación:<br />
            <span class="refusal-text">{{item.refusal}}</span>
          </div>
          <div class="date">Fecha Solicitud: <span>{{item.dateRequest|date:'mediumDate'}}</span></div>
          <div class="date">Fecha Inicio: <span>{{item.dateStart|date:'mediumDate'}}</span></div>
          <div class="date">Fecha Fin: <span>{{item.dateEnd|date:'mediumDate'}}</span></div>
        </ion-label>
      </ion-item>
    </ion-list>

    <div *ngIf="!items || !items?.length" class="no-info">
      <ion-text>No hay información disponible actualmente.</ion-text>
    </div>
  </div>
</ion-content>
