ion-label {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h3 {
      white-space: normal;
      font-weight: bold;
      text-transform: uppercase;
    }
    .province {
      font-size: 13px;
      margin-bottom: 6px;
    }
    ion-chip {
      font-size: 11px;
      padding: 3px 10px;
    }
  }
  .refusal {
    margin: 4px 0 8px 0;
    font-size: 12px;
    .refusal-text {
      color: var(--ion-color-medium);
      font-style: italic;
    }
  }
  .date {
    font-size: 13px;
    span {
      color: var(--ion-color-medium);
      font-style: italic;
    }
  }
}
