.user-info {
  margin-top: 32px;
  @media(max-width: 400px) { margin-top: 16px; }

  .user-initial {
    margin: 0 auto;
    width: 164px;
    height: 164px;
    line-height: 164px;
    border-radius: 164px;
    font-size: 48px;
    text-align: center;
    background-color: var(--ion-color-light);
    @media(max-width: 400px) {
      width: 112px;
      height: 112px;
      line-height: 112px;
      border-radius: 112px;
      font-size: 42px;
    }
  }

  .user-image {
    margin: 0 auto;
    width: 164px;
    height: 164px;
    border-radius: 164px;
    overflow: hidden;
    @media(max-width: 400px) {
      width: 112px;
      height: 112px;
      border-radius: 112px;
    }
  }

  .name {
    margin-top: 24px;
    font-size: 32px;
    font-weight: 900;
    @media(max-width: 400px) {
      margin-top: 16px;
      font-size: 24px;
    }
  }
  .surname {
    font-size: 26px;
    font-weight: 400;
    @media(max-width: 400px) { font-size: 20px; }
  }
  .collegiate {
    margin-top: 10px;
    font-size: 15px;
    @media(max-width: 400px) { font-size: 14px; }
  }
}

ion-button.logout {
  height: 36px;
  @media(max-height: 600px) {
    height: 24px;
    font-size: 13px;
  }
}

.text {
  margin: 0;
  font-size: 14px;
  line-height: 1.35em;
  color: var(--ion-color-medium);
  @media(max-width: 400px) { font-size: 12px; }
}

ion-button.social {
  height: 32px;
  --padding-start: 10px;
  --padding-end: 10px;
}

.phone {
  font-size: 14px;
  a {
    margin: 0 15px;
    text-decoration: none;
  }
  .separator { color: #ccc; }
}

.text-separator {
  @media(min-height:660px) { margin-top: 16px; }
}
