<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>colenfermalaga</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-grid>
    <ion-row>
      <ion-col size-md="8" size-lg="4" offset-md="2" offset-lg="4" class="user-info">
        <ion-img *ngIf="true" class="user-image" src="./../../assets/image_profile.jpg"></ion-img>
        <div *ngIf="false" class="user-initial">A</div>
        <div class="ion-text-center name">Michael</div>
        <div class="ion-text-center surname">Terence Smith</div>
        <div class="collegiate ion-text-center">
          <ion-text color="primary">colegiado 00001</ion-text>
        </div>
      </ion-col>

    </ion-row>
    <ion-row>
      <ion-col size-md="8" size-lg="4" offset-md="2" offset-lg="4">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center" size-md="8" size-lg="4" offset-md="2" offset-lg="4">
        <ion-button class="logout" color="primary" (click)="onLogout()">
          Cerrar sesión
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="text-separator"></ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-padding" size-md="8" size-lg="4" offset-md="2" offset-lg="4">
        <ion-text class="text ion-text-justify">
          Desde esta App podrá realizar la mayor parte de los servicios que le ofrece la web de Colegio. para cualquier duda o consulta puede escribirnos a <a href="mailto:oficina@colenfermalaga.com">oficina@colenfermalaga.com</a> y le contestaremos a la mayor brevedad.
        </ion-text>
      </ion-col>
    </ion-row>

    <!-- Redes sociales -->
    <ion-row>
        <ion-col class="ion-text-center" size-md="8" size-lg="4" offset-md="2" offset-lg="4">
          <ion-button class="social" fill="clear" size="medium" href="https://www.facebook.com/colegioenfermeriamalaga" target="_blank">
            <ion-icon slot="icon-only" name="logo-facebook"></ion-icon>
          </ion-button>
          <ion-button class="social" fill="clear" size="medium" href="https://twitter.com/@colenfermalaga" target="_blank">
            <ion-icon name="logo-twitter"></ion-icon>
          </ion-button>
          <ion-button class="social" fill="clear" size="medium" href="https://colenfermalaga.com/comunicacion/alta-whatsapp" target="_blank">
            <ion-icon name="logo-whatsapp"></ion-icon>
          </ion-button>
          <ion-button class="social" fill="clear" size="medium" href="https://www.youtube.com/channel/UC-vfjdrpi4uHBHvLzb2Etxg" target="_blank">
            <ion-icon name="logo-youtube"></ion-icon>
          </ion-button>
          <ion-button class="social" fill="clear" size="medium" href="https://www.instagram.com/colenfermalaga/" target="_blank">
            <ion-icon name="logo-instagram"></ion-icon>
          </ion-button>
        </ion-col>
    </ion-row>

      <!-- Telefonos -->
      <ion-row>
        <ion-col class="ion-text-center" size-md="8" size-lg="4" offset-md="2" offset-lg="4">
          <span class="phone">
            <a href="tel:952 39 53 20">952 39 53 20</a>  <span class="separator">|</span>  <a href="tel:952 39 53 12">952 39 53 12</a>
          </span>
        </ion-col>
      </ion-row>
  </ion-grid>


</ion-content>
