ion-label.info {
  white-space: normal;
  .pending {
    margin-bottom: 10px;
    font-size: 14px;
    color: var(--ion-color-warning);
  }
  h3 {
    font-size: 14px;
    font-weight: bold;
    color: var(--ion-color-secondary);
  }
  .text {
    margin-top: 5px;
    font-size: 14px;
    color: var(--ion-color-medium);
  }
  .options {
    margin-top: 8px;
    ion-button {
      --padding-start: 10px;
      --padding-end: 10px;
      height: 36px;
      color: var(--ion-color-secondary);
    }
  }
}
