<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button routerLink="new" routerDirection="forward">
        <ion-icon name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Currículums</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div *ngIf="!isLoading">
    <ion-list lines="full" *ngIf="cv && cv.length">
      <ion-item *ngFor="let item of cv">
        <ion-label class="info">
          <div *ngIf="item.pending" class="pending">Existe una solicitud de cambio pendiente</div>
          <h3>{{item.title}}</h3>
          <div class="text">{{item.observations | truncate:150}}</div>
          <div class="options" *ngIf="!item.pending">
            <ion-button *ngIf="!item.main" fill="clear" size="small" [href]="item.file" target="_blank" download>
              <ion-icon name="download-outline"></ion-icon>
            </ion-button>
            <ion-button *ngIf="!item.main" fill="clear" size="small" [routerLink]="['/curriculums/edit', item.id]">
              <ion-icon name="create-outline"></ion-icon>
            </ion-button>
            <ion-button fill="clear" size="small" (click)="deleteCV(item.id)">
              <ion-icon name="trash-outline"></ion-icon>
            </ion-button>
          </div>
        </ion-label>
      </ion-item>
    </ion-list>

    <div *ngIf="!cv || !cv?.length" class="no-info">
      <ion-text>No hay información disponible actualmente.</ion-text>
    </div>
  </div>

</ion-content>
